/* Google Fonts */ /* Atalho para comentar Shift + Alt + A */



@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



/* Variaveis das cores */
/*TEMA DARK*/
:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;       /* cor principal de textos */
    --primary-bg-color: #111217;  /* cor principal de fundo */
    /* bg = background == cor de fundo */
}
/*TEMA LIGHT*/
:root[data-theme='light'] {
    --primary-color: #000;       /* cor principal de textos */
    --primary-bg-color: #f0f2f5;  /* cor principal de fundo */
    /* bg = background == cor de fundo */

}
body {
    background: var(--primary-bg-color); /*cor fundo*/
    color: var(--primary-color); /*cor geral dos textos*/
}