/* Google Fonts */ /* Atalho para comentar Shift + Alt + A */



@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



/* Variaveis das cores */
/*TEMA DARK*/
:root, :root[data-theme='dark'] {
    --primary-color: #f0f0f0;       /* cor principal de textos */
    --primary-bg-color: #111217;  /* cor principal de fundo */
    /* bg = background == cor de fundo */
    --secondary-bg-color:#28292E;  /* cor de fundo secundário */
    --primary-border-color:#28292E;  /* cor principal de borda */
    --secondary-border-color:#56575A;  /* cor secundária de borda */
    --title-color:#F0F0F0;  /*cor do título */
    --link-color:#8f8f8f;  
    --link-hover:#F0F0F0;  /* cor para link */
    --icon-color:#C7C8C9;  /* cor do ícone */
}
/*TEMA LIGHT*/
:root[data-theme='light'] {
    --primary-color: #0d0c09;       /* cor principal de textos */
    --primary-bg-color: #f0f2f5;  /* cor principal de fundo */
    /* bg = background == cor de fundo */
    --secondary-bg-color:#C7C8C9;  /* cor de fundo secundário */
    --primary-border-color:#C7C8C9;  /* cor principal de borda */
    --secondary-border-color:#9A9A9C;  /* cor secundária de borda */
    --title-color:#0B0B0F;  /*cor do título */
    --link-color:#a3a2a2;  
    --link-hover:#0B0B0F;  /* cor para link */
    --icon-color:#56575A;  /* cor do ícone */
}

  /* Reset CSS */
*{
    margin:0 ;   /* margem (parte de fora de um elemento) */
    padding: 0;   /* preenchimento (parte de dentro de um elemento) */
    box-sizing:border-box;   /* dimensionamento de caixa */
    vertical-align: baseline;   /* alinhamento vertical */
    list-style:none ;   /* estilo da lista */
    scrollbar-width: thin;   /* barra de rolagem - thin = fina */
    scrollbar-color: var(--secondary-bg-color) transparent;   /* cor da barra de rolagem */
}

body {
    background: var(--primary-bg-color); /*cor fundo*/
    color: var(--primary-color); /*cor geral dos textos*/
    font-family: 'Playwrite', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {                        /* :hover (faz a mudança de cor ao passar o mouse) */
    color: var(--link-hover);
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;   /* coloca o conteúdo em linha e permite a quebra de linha. */
    justify-content: space-between;   /* os itens dentro do container (caixa) flexível serão distribuídos de maneira uniforme ao longo do eixo principal,com espaços iguais entre eles */
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;   /* primeiro valor = top e bottom,segundo valor = right e left (se não tiver nada embaixo o bootom vira right e left)(um terceiro valor sempre em baixo) */
    z-index: 2;  /* é uma sobreposição (ele ficará emcima de um valor)*/
}

.header-logo .logo  {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size:1.5rem ;   /* Tamanho da fonte */
    color: var(--icon-color);
    cursor:pointer;   /* muda o ícone de clique */
    transition: ease-in-out .4s;    /* ele dar um "efeito de animações" no elemento */
}

.menu {
    display: flex;   /* torna o elemento um Flex Container (deixa a caixa flexível) automaticamente transformando todos os seus filhos diretos em Flex itens */
    align-items: center;
    background: var(--primary-bg-color);
    gap: 1rem;    /* dá espaçamento entre os elementos */
}

.menu-link {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu-mobile {    /* Ul */
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu-mobile .menu-link {
    flex-direction: column;  /* vai deixar em coluna*/
    justify-content: center;
    padding: .5rem 1rem;    /* o . é para abreviar o 0 em .5rem (0.5rem) */
}

.menu-link.active .menu-icon,  /* o "active" serve para deixar um botão como principal,deixando toda a vez que carregar o site,onde o "active" estiver vai ser onde o site vai "abrir",o exemplo seria o home de um site que toda vez que é recarregado a página,ela vai direto para o home */
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
.menu-link:hover .menu-text {
    color: var(--link-hover);
}

.menu-icon, .menu-text {
    color:var(--link-color);
    font-weight: 600;  /* peso de fonte (deixa em negrito,muda a espessura da letra) */ 
}

.menu-icon {
    font-size: 1.5rem;
}

.menu-text {
    font-size: .75rem;
    text-transform: uppercase;
}

.header-nav {
    display: none;
}

.menu-principal {
    gap: 1rem;
}
                /* - - - - - - - - - - - - - - - - - - - - - */

                              /* CSS resposivo */
@media (min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--primary-border-color);
        padding: 1rem 6rem;
}
.nav-mobile {
        display: none;
}
.header-nav {
        display: flex;
}
}